@import url("./style/header.css");
:root{
    --preto: #0000;
    --font-size: 'Poppins', 'sans serif';
    --branco: #ffffff;
    --azul: #002f52;
    --laranja: #EB9B00;
}

body{
    background-color: var(--preto);
    color: var(--branco);
    font-size: var(--font-size); 
}